<ion-content [style.--background]="showCamera ? '#00000000' : '#fff'">
  <ion-grid
    style="width: 100%; height: 100%; background-color: transparent"
    *ngIf="showCamera === true"
  >
    <ion-row class="ion-align-items-center" style="height: 100%">
      <ion-col style="height: 100%">
        <div style="height: 100%; width: 100%">
          <div class="scan-box"></div>
          
          <ion-icon
            style="position: absolute; top: 10px; right: 10px"
            (click)="stopScan()"
            color="blanco"
            size="large"
            name="close"
          ></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
