<ion-content color="primary">
  <ion-toolbar style="--background: transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-grid style="width: 80%; margin-left: 10%; margin-right: 10%">

      <ion-row>
        <ion-col size="12">
          <ion-label class="label-medium"> Documento de Identidad </ion-label>
          <ion-item style="margin-top: 5px">
            <ion-input
              type="number"
              placeholder="Cedula de Identidad"
              formControlName="CI"
              [step]="1"
              #inputCI
            ></ion-input>
            <ion-note slot="error" *ngIf="form.controls['CI'].touched"
              ><ion-text color="dark" style="font-size: 1rem">Requerido</ion-text></ion-note
            >
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button
            [disabled]="!form.valid || disableBtn"
            type="submit"
            color="tertiary"
            style="min-width: 200px; margin-top: 10px"
            [disabled]="submitted || form.invalid"
          >
            Guardar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
