<ion-content [fullscreen]="true" class="background-image">
  <ion-grid style="width: 80%; position: absolute; top: 8%; left: 10%; right: 10%">
    <ion-row>
      <ion-col size="12">
        <img src="../../../assets/img/RepensarLogo.svg" alt="Logo Repensar">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          [routerLink]="['/scanner']"
          fill="clear"
          expand="block"
          [disabled]="!isApp"
        >
          Escanear QR
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" fill="clear">
          Registrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
