<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Code Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <ion-button [routerLink]="['/scanner']" expand="block" shape="round" [disabled]="!isApp">
          Scanear
        </ion-button>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-button  expand="block" shape="round">
          Registrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
