<ion-content [fullscreen]="true" class="background-image">
  <ion-icon
    id="openInfo"
    name="information-circle-outline"
    style="position: fixed; top: 10px; right: 10px; width: 2rem; height: 2rem"
  ></ion-icon>
  <ion-grid
    style="width: 80%; position: absolute; top: 8%; left: 10%; right: 10%"
  >
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img src="../../../assets/img/RepensarLogo.svg" alt="Logo Repensar" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          [routerLink]="['/scanner']"
          fill="clear"
          expand="block"
          [disabled]="!isApp"
        >
          Escanear QR
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" fill="clear" (click)="goToForm()">
          Registrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal trigger="openInfo">
    <ng-template>
      <ion-content class="background2-image">
        <ion-toolbar style="--background: transparent">
          <ion-buttons slot="start">
            <ion-button (click)="modalController.dismiss()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-grid style="margin-top: 15vh;">
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <img src="../../../assets/img/RepensarLogo.svg" />
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <img src="../../../assets/img/cormetur.svg" />
              </ion-col>
              <ion-col class="ion-text-center">
                <img src="../../../assets/img/SomosMerida.svg" />
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <img src="../../../assets/img/UNATUR.svg" />
              </ion-col>
              <ion-col class="ion-text-center">
                <img src="../../../assets/img/uptm.svg" />
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center">
              <ion-col class="ion-text-center">
                <p>
                  © Ticketscann 2022
                  <br />
                  <br />
                  Hecho por Lagoon Studio
                </p>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
